.App {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
  color: blueviolet;
  background-color: violet;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
  background-color: gainsboro;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 50px;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  height: 250px;
  border: 2px solid blueviolet;
  border-radius: 15px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

#updateInput {
  width: 100px;
  height: 20px;
}

#signInput {
  width: 100px;
  height: 20px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
